<app-navbar></app-navbar>

<div class="mx-6 grid grid-cols-3 gap-4 h-screen">
    <div class="col-span-2 flex-1 items-center justify-center flex-col">
        <app-algorithm-visualiser-animation class="m-5"></app-algorithm-visualiser-animation>
        <app-command-visualiser></app-command-visualiser>
    </div>
    <div class="flex-1 items-center justify-center flex-col">
        <app-pseudocode-visualiser></app-pseudocode-visualiser>
        <app-variable-visualiser></app-variable-visualiser>
    </div>
    <app-playback-controls class="col-span-3"></app-playback-controls>
</div>