
<app-navbar></app-navbar>

<div class="flex flex-row mx-2 justify-center items-center">
  <div #leftHandSide class="w-1/2 resize-x h-full">
    <app-algorithm-visualiser-animation></app-algorithm-visualiser-animation>
    <app-command-visualiser></app-command-visualiser>
    <div class="border-t border-2 border-gray-500"></div>
    <app-variable-visualiser></app-variable-visualiser>
  </div>
  <div (pointerdown)="startResize($event)" class="slider px-1 mx-1">||</div>
  <app-pseudocode-visualiser class="flex-1 overflow-auto"></app-pseudocode-visualiser>
</div>
<app-playback-controls class="w-full sticky bottom-0"></app-playback-controls>