<nav class="container mx-auto my-10">
  <div class="flex items-center md: mx-6">
      <img class="object-contain max-h-10 mr-10" [src]="environment.logo" alt="String Visualiser Logo V2">
    <div class="algorithms grow gap-6 justify-start hidden md:flex">
      <button *ngFor="let algorithm of environment.supportedAlgorithms" (click)="changePage('algorithm-visualiser/' + algorithm.urlParam)">{{algorithm.name}}</button>
    </div>
    <div class="other-links gap-6 justify-end hidden md:flex">
      <button (click)="changePage('/')">Home</button>
      <button (click)="changePage('/about')">About</button>
      <a [href]="environment.githubLink" ><fa-icon [icon]="['fab', 'github']" size="lg"></fa-icon></a>
      <a [href]="environment.linkedinLink" ><fa-icon [icon]="['fab', 'linkedin']" size="lg" class="blue-icon"></fa-icon></a>
    </div>
    <button class="flex ml-auto md:hidden" type="button" (click)="toggleMobileMenu()">
      <fa-icon name="menu-button-on-sm" [icon]="['fas', 'compass']" size="lg"></fa-icon>
    </button>
  </div>
</nav>
<div #mobileMenu class="algorithms-mobile hidden flex items-center justify-center flex-col gap-3" id="mobile-menu">
  <button *ngFor="let algorithm of environment.supportedAlgorithms" (click)="changePage('algorithm-visualiser/' + algorithm.urlParam)">{{algorithm.name}}</button>
  <button class="break-normal" (click)="changePage('/')">Home</button>
  <button class="break-normal" (click)="changePage('/about')">About</button>
  <a [href]="environment.githubLink" ><fa-icon [icon]="['fab', 'github']" size="lg"></fa-icon></a>
  <a [href]="environment.linkedinLink" ><fa-icon [icon]="['fab', 'linkedin']" size="lg" class="blue-icon"></fa-icon></a>
</div>