<button
  type="button"
  class="relative top-[50%] absolute-center lg:absolute left-2"
  (click) = "openModal()">
  <fa-icon class="text-skin-icon hover:text-skin-icon-hover" [icon]="['fas', 'gear']" size="xl"></fa-icon>
</button>


<div #modal class="fixed bottom-4 left-4 p-4 hidden w-full lg:w-1/3 bg-skin-fill-secondary border-4 border-skin-icon-separator">
  <div class="flex justify-between">
    <h5>String Matching Visualiser Settings</h5>
    <button
          type="button"
          (click)="closeModal()">
          <fa-icon class="text-skin-icon hover:text-skin-icon-hover text-xl" [icon]="['fas', 'xmark']" size="xl"></fa-icon>
        </button>
  </div>
  <div class="relative flex-auto p-4">
    <form>
      <div class="flex flex-col gap-6">
          <div>
              <label for="text" class="block mb-2 text-md font-medium">Text to search</label>
              <input name="text" type="text" [(ngModel)]="text" (ngModelChange)="sendTextToService()"  id="text" class="flex-1 bg-skin-fill-quaternary border border-skin-icon-separator border-2 text-sm rounded-lg focus:ring focus:outline-none ring-skin-focus focus:border-skin-border-focus block w-full p-2.5" required>
          </div>
          <div>
              <label for="pattern" class="block mb-2 text-md font-medium">Pattern to search for</label>
              <input name="pattern" type="text"  [(ngModel)]="pattern" (ngModelChange)="sendPatternToService()" id="pattern" class="bg-skin-fill-quaternary border-skin-icon-separator border-2 text-sm rounded-lg focus:ring focus:outline-none ring-skin-focus focus:border-skin-border-focus block w-full p-2.5" required>
          </div>
      </div>
      <div class="relative">
      <input
        type="checkbox"
        class="mt-5 mr-2 appearance-none w-4 h-4 rounded-sm border border-skin-icon-separator bg-skin-fill-quaternary outline-none checked:border-skin-border-focus checked:bg-skin-fill-tertiary"
        value=""
        name="preProcessingSteps"
        [(ngModel)]="preProcessingSteps"
        (ngModelChange)="setPreprocessingSteps()"
        id="preProcessingSteps" />
      <label
        class="absolute top-5 left-6"
        for="preprocessingSteps">
        Show Preprocessing Steps
      </label>
      <label *ngIf="preProcessingSteps" class="absolute top-4 left-0" style="pointer-events: none;" for="preprocessingSteps">
        <fa-icon class="text-skin-base" [icon]="['fas', 'check']" size="lg"></fa-icon>
      </label>
    </div>

    <div class="relative">
      <input
        type="checkbox"
        class="mt-5 mr-2 appearance-none w-4 h-4 rounded-sm border border-skin-icon-separator bg-skin-fill-quaternary outline-none checked:border-skin-border-focus checked:bg-skin-fill-tertiary"
        value=""
        name="smoothAnimations"
        [(ngModel)]="smoothAnimations"
        (ngModelChange)="setSmoothAnimations()"
        id="smoothAnimations" />
      <label
        class="absolute top-5 left-6"
        for="smoothAnimations">
        Smooth Animations
      </label>
      <label *ngIf="smoothAnimations" class="absolute top-4 left-0" style="pointer-events: none;" for="smoothAnimations">
        <fa-icon class="text-skin-base" [icon]="['fas', 'check']" size="lg"></fa-icon>
      </label>
    </div>
    <div class="relative">
      <input
        type="checkbox"
        class="mt-5 mr-2 appearance-none w-4 h-4 rounded-sm border border-skin-icon-separator bg-skin-fill-quaternary outline-none checked:border-skin-border-focus checked:bg-skin-fill-tertiary"
        value=""
        name="showLegend"
        [(ngModel)]="showLegend"
        (ngModelChange)="setShowLegend()"
        id="showLegend" />
      <label
        class="absolute top-5 left-6"
        for="smoothAnimations">
        Show Animation Legend
      </label>
      <label *ngIf="showLegend" class="absolute top-4 left-0" style="pointer-events: none;" for="smoothAnimations">
        <fa-icon class="text-skin-base" [icon]="['fas', 'check']" size="lg"></fa-icon>
      </label>
    </div>
      <div class="flex flex-wrap gap-5 mt-5">
        <p>Theme:</p>
        <div class="flex items-center" *ngFor="let theme of themes">
          <input
            [checked]="selectedTheme === theme.name"
            (change)="selectTheme(theme.name)"
            [style.background-color]="theme.colorOne"
            [style.background-image]="'-webkit-linear-gradient(45deg, ' + theme.colorOne + ' 50%, ' + theme.colorTwo + ' 50.5%)'"
            [style.border-color]="selectedTheme === theme.name ? 'red' : '#000000'"
            class="w-6 h-6 appearance-none hover:border-blue-500 rounded-[0.25rem] border-[0.125rem] border-solid border-neutral-300 outline-none"
            type="radio"
            id="{{ theme.name }}"
            name="themeRadio"
            value="{{ theme.name }}"
          />
        </div>
      </div>
      <button *ngIf="canAlgorithmDataBeCentralised()" (click)="centraliseScroll()" class="my-3 font-bold bg-skin-fill-quaternary text-sm rounded-lg border-skin-icon-separator border-2 p-2 hover:bg-skin-fill-tertiary-hover">Centralise Scroll</button>

  </form>
  </div>
</div>


