pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

ol {
    list-style:decimal;
    list-style-position: outside;
    margin-left: 2rem;
}

.center-parent {
    left: 50%;
    transform: translate(-50% , -50%);
    top : 50%;
}