<div class="h-full">
    <div class = "flex flex-col h-full m-auto" *ngIf="this.algorithmProgressService.extraCanvasGetter !== null; else oneCanvas">
        <div #canvas class="w-full h-[70%]">
        </div>
            <div class="inline-flex w-full flex-row h-[30%] gap-5 justify-center items-center">
                <fa-icon class="w-fit text-skin-icon hover:text-skin-icon-hover text-xl" (click)="skipLeft()" [icon]="['fas', 'arrow-left']" size="xl"></fa-icon>
                <div #extraCanvas class="w-[80%] h-full">
                </div>
                <div>
                    <fa-icon class="w-fit text-skin-icon hover:text-skin-icon-hover text-xl" (click)="skipRight()" [icon]="['fas', 'arrow-right']" size="xl"></fa-icon>
                </div>
            </div>
    </div>

    <ng-template #oneCanvas>
        <div #canvas class="h-full">
        </div>
    </ng-template>
</div>