<div class="m-2">
    <div *ngIf="stringSettings">
        <form>
            <div class="flex flex-col gap-6">
                <div>
                    <label for="text" class="block mb-2 text-md font-medium">Text to search</label>
                    <input name="text" (ngModelChange)="sendTextToService()" [(ngModel)]="text" type="text" id="text" class="flex-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                </div>
                <div>
                    <label for="pattern" class="block mb-2 text-md font-medium">Pattern to search for</label>
                    <input name="pattern" (ngModelChange)="sendPatternToService()" [(ngModel)]="pattern" type="text" id="pattern" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                </div>
            </div>
        </form>
    </div>
    <div>

    </div>
</div>